.home {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: 1s;

  .homeContainer {
    display: flex;
    width: 100%;

    .feed {
      padding-left: 1px;
      padding-right: 1px;
    }
  }
}

@for $i from 1 through 15 {
  .projects div:nth-of-type(#{$i}) {
    animation-delay: #{0.3+($i)/30}s;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}