$maxwidthlow: 1300px;
$maxwidthmid: 1450px;

.topbar {
  display: flex;
  width: 100%;
  flex-direction: column;

  .stickypart {
    background-color: #121212;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;

    .topbarLeft {
      flex: 1;


      .logo {
        animation-name: fade-in;
        animation-fill-mode: both;
        animation-duration: 1.5s;
        font-size: 24px;
        margin-left: 20px;
        font-weight: bold;
        color: #1199ee;
        cursor: default;
        transition: 1s;

        &:hover {
          color: white;
          text-shadow: 0 0 5px #839fcf, 0 0 20px #b2c0da, 0 0 70px #c5cedd;
        }
      }
    }

    .topbarMiddle {
      flex: 3;

      .searchBar {
        width: 50vw;
        height: 30px;
        background-color: white;
        border-radius: 30px;
        display: flex;
        align-items: center;
      }

      .searchIcon {
        font-size: 20px !important;
        margin-left: 10px;
      }

      .searchInput {
        border: none;
        width: 75%;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .container {
    display: block;
    align-items: center;
    margin-left: 30%;
    margin-top: 50px;
    position: absolute;
  }
}

$animationDelay: 1;

@media (max-width: $maxwidthmid) {
  .topbar {
    .container {
      margin-left: 27%;
    }
  }
}


@media (max-width: $maxwidthlow) {
  .topbar {
    .container {
      margin-left: 25%;
    }
  }
}

@for $i from 1 through 15 {
  .projects div:nth-of-type(#{$i}) {
    animation-delay: #{0.3+($i)/30}s;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}